<a href="https://colab.research.google.com/github/almiraazs/Penambangan-Data/blob/main/Pre_Test_Penambangan_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

import sys
sys.path.append('/content/drive/My Drive/Colab Notebooks/')

Mounted at /content/drive

In [2]:
#Importing the Libraries
import numpy as np
import pandas as pd
import datetime
import matplotlib
import matplotlib.pyplot as plt
from google.colab import drive
from matplotlib import colors
from matplotlib.colors import ListedColormap
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import AgglomerativeClustering
from sklearn import metrics
import warnings
import sys
#if not sys.warnoptions:
#    warnings.simplefilter("ignore")
np.random.seed(42)

In [3]:
# menghubungkan ke google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# settings to display all columns
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows",None)

In [5]:
cmap = colors.ListedColormap(["#682F2F", "#9E726F", "#D6B2B1", "#B9C0C9", "#9F8A78", "#F3AB60"])

## load dataset

In [6]:
file_path = ('/content/drive/My Drive/Colab Notebooks/dataKasus-1.xlsx')
df = pd.read_excel(file_path)
df.head()

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,< 2 tahun,Tidak,Tidak,Tidak,Ya,Tidak,>UMR,Non PE,NaN
1,2,NAMA 2,29 TH,2,< 2 tahun,Tidak,PEB,Tidak,Tidak,Ada,>UMR,PE,NaN
2,3,NAMA 3,20 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
3,4,NAMA 4,18 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

In [8]:
print("\nInformasi singkat mengenai dataset:")
print(df.info())

Informasi singkat mengenai dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    object
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    object
 8   RIW DM                            561 non-null    object
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    object
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(2), object(11)
memory usage: 57.1+ KB
None

In [9]:
print("\nMemeriksa apakah ada data yang hilang:")
print(df.isnull().sum())

Memeriksa apakah ada data yang hilang:
NO                                    0
NAMA                                  0
USIA                                  3
PARITAS                               0
JARAK KELAHIRAN                       7
RIW HIPERTENSI                        0
RIW PE                                0
OBESITAS                              0
RIW DM                                0
RIW HIPERTENSI/PE DALAM KELUARGA      0
SOSEK RENDAH                          0
PE/Non PE                             0
Unnamed: 12                         550
dtype: int64

In [15]:
print("\nMemeriksa apakah ada data yang duplikat:")
duplicate_rows = df.duplicated().sum()
if duplicate_rows > 0:
    print(f"Terdapat {duplicate_rows} baris duplikat.")
    df = df.drop_duplicates()
    print(f"Setelah menghapus duplikat, data berjumlah {df.shape[0]} baris.")
else:
    print("Tidak ada data yang duplikat.")

Memeriksa apakah ada data yang duplikat:
Tidak ada data yang duplikat.

In [16]:
print("\nMemeriksa nilai yang hilang dalam dataset:")
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

Memeriksa nilai yang hilang dalam dataset:
USIA                 3
JARAK KELAHIRAN      7
Unnamed: 12        550
dtype: int64

In [10]:
jumlah_hipertensi = df['RIW HIPERTENSI'].value_counts()
print("\nJumlah pasien berdasarkan status hipertensi:")
print(jumlah_hipertensi)

Jumlah pasien berdasarkan status hipertensi:
RIW HIPERTENSI
Tidak    508
Ya        53
Name: count, dtype: int64